* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background-color: #173358;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}
nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 0 15px;
  text-transform: uppercase;
  vertical-align: middle;
}

ul li a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

.left li {
  padding: 0 10px;
}

.right {
  float: right;
  padding-right: 30px;
}

.right li {
  padding: 0 10px;
}
