* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  background-color: #173358;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
}

.container .logo {
  display: inline-block;
  vertical-align: middle;
}
.container .logo img {
  padding-left: 30px;
  display: inline-block;
}

.container .left {
  display: inline-block;
  vertical-align: middle;
}

.container .right {
  display: inline-block;
  vertical-align: middle;
}

li {
  list-style: none;
  vertical-align: middle;
}
.container ul li a {
  text-decoration: none;
  color: white;
}

.jumbotron {
  background-color: #173358;
  height: 100vh;
}

.jumbotron img {
  float: right;
  width: 70%;
  margin-top: 110px;
}

h1 {
  color: white;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 100px;
}

.jumnbotron a {
  display: inline-block;
  background-color: #B0C926;
  padding: 5px 15px;
  border-width: 0;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}
